.header{
  background-color: blue;
  text-align: center;
  padding: 15px;
  border-radius: 15px;
}
.well#description {
  width: 40%;
}
#ruby {
  display: none;
}
#css, #c-sharp, #java-android, #other{
  display: none;
}
